* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 25px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  align-items: flex-start;
}

.container img {
  width: 100%;
  max-width: 3520px; /* Подстроить под свои нужды */
  height: auto;
}

.container img {
  width: 100%;
  max-width: 3520px;
  height: auto;
}

.container img {
  width: 100%;
  max-width: 3520px;
  height: auto;
}

/* .pyramid {
  position: relative;
} */

.tooltip {
  position: absolute;
  background-color: rgba(66, 66, 66, 0.8);
  padding: 8px 15px;
  color: white;
  white-space: nowrap;
  transform: translate(-50%, -100%); /* Центрирование и поднятие над точкой клика */
  pointer-events: none; /* Позволяет кликам проходить через тултип */
  z-index: 100;
}

.selection p {
  font-size: 16px;
  color: #333;
}

area {
  cursor: pointer;
}

.arckhem-logs {  

}

.col {
  display: flex;
  width: 50%;
}

.menu {
  display: flex;
  flex: 15%; /* Занимает 25% горизонтального пространства */
}

.content {
  display: flex;
  width: 70%;

  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  border: 1px solid #ccc;
}

.score {
  display: flex;
  width: 15%;
}

.log-article {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.input {
  display: flex;
  width: 100%;
  height: 36px;
}

.button {
  cursor: pointer;
}

.article {
  text-align: left;
  padding: 0 15px;
}

.log-text {
  height: calc(100vh - 188px);
  padding: 15px 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}

h3 {
  margin-bottom: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: flex-start;
}

.menu a {
  display: flex;
  padding: 10px 10px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.menu a:hover,
.menu a.active {
  color: #fff;
  background: #666;
}

.menu a:hover {
  background: #444;
}

.addressRecord {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
}

.addressRecord:nth-child(odd) {
  background: #ddd;
}

.addressRecord:hover {
  background: #ccc;
}

