@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-arkham-background {
    background-image: url('/img/mist-texture.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'EB Garamond', serif;
  }

  * {
    box-sizing: border-box;
  }
}